.tableContainer {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  thead {
    background-color: #f8f8f8;

    th {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
      font-size: 1em;
      color: #333;
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
}

.modal {
    width: 100%;
    border: red 1px solid;
    
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    div {
        width: 100%;
    }
}

.addBtn {
  margin-top: 10px;
}