.form {
    margin: 10% auto 0 auto;
    max-width: 35%;
    h5 {
        text-align: center;
        margin: 0 auto 10px auto;
    }
}

.input,  .signInbtn {
    margin-top: 5px;
    width: 100%;
}

